
<%=render :partial => 'shared/meeting_requests_list', :locals => {:requests => @requests}%>
	<div class="cols2">
		<div class="col">
		<div class="modNotes block module">
			<h2 class="head">Recent Notes</h2>
			<div class="content">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="spaced">Student</th>   
							<th>Note Title</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="spaced">Nathan Palmer</td>
							<td><a href="#">Here Is the Note Title<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">Chris Lees</td>
							<td><a href="#">Another Note Title for You to Read<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">Costa Boudouvas</td>
							<td><a href="#">Note Titles Are Awesome<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">Dan Seaver</td>
							<td><a href="#">Note Titles Are Awesome Part II<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">Frankie Benevides Jr.</td>
							<td><a href="#">Lorem Notesum Textolor Sit Amet<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--// end modNotes //-->
		</div>
		<div class="col colR">
		<div class="modMeetings block module">
			<h2 class="head">Upcoming Meetings</h2>
			<div class="content">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="spaced" colspan="2">Date &amp; Time</th>
							<th>Student</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="spaced">10/20/2010</td>
							<td>10:00&nbsp;AM</td>
							<td><a href="#">Nathan Palmer<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">10/21/2010</td>
							<td>9:00&nbsp;AM</td>
							<td><a href="#">Chris Lees<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">10/21/2010</td>
							<td>1:00&nbsp;PM</td>
							<td><a href="#">Costa Boudouvas<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">10/22/2010</td>
							<td>1:30&nbsp;PM</td>
							<td><a href="#">Dan Seaver<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
						<tr>
							<td class="spaced">10/31/2010</td>
							<td>7:45&nbsp;AM</td>
							<td><a href="#">Frankie Benevides Jr.<span class="arr">&nbsp;&rarr;</span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--// end modMeetings //-->
		</div>
	</div><!--// end cols2 //-->
