:javascript
  $j(document).ready(function(){
    $j('.note_info').click(slide_toggle_notes)
    $j('.note_notes').hide()
  });
  var slide_toggle_notes = function(){
    $j(this).parent().find('.note_notes').slideToggle()
     };

.grid_5
  %h2 Note Requests
.grid_12
  #requests
    -@requests.each do |request|
      =render :partial => 'note_requests/new_note_request',:locals => {:request => request, :last => @requests.last}
    -if !@request or @request.count == 0
      .grid_1
        %strong None
     
.grid_5
  %h2 Upcoming Notes
.grid_12
  #requests
    -@upcoming_meetings.each do |note|
      =render :partial => 'meeting_requests/upcoming_meeting',:locals => {:note => note, :last => @requests.last}
    -if !@upcoming_meetings or @upcoming_meetings.count == 0
      .grid_1
        %strong None
.grid_5
  %h2 Recent Notes
.grid_12
  =render :partial => 'shared/dashboard_list', :locals => { :note_list => @notes}
