<% content_for :head do %>
  <title>Dashboard -  <%=current_school.name %> - Ducky Guidance</title>
<% end %>
<%=render partial: 'notes/list', locals: { title: "Recent Notes" }%>
<% content_for :auxiliary do %>
  <%= render "reports" %>
<% end %>
