<% title ||= "Notes" %>
<div class="modNotes block module" >
	<h2 class="head">
    <%= title %>
		<div class="modToggle">
			Detail View&nbsp;|&nbsp;<a href="?note_view=list">List View</a>
		</div><!-- /modToggle -->
	</h2>
	<div class="content">
  <%= render "notes/detail_view_list" %>
	</div>
</div><!--// end modNotes //-->
