.note{:id =>[note.class, note.id],:class => note == last && "last"}
  .note_info{:class =>odd_even}
    .grid_3
      %h6=note.created_at.strftime('%B %d @ %I:%M %p')
    .grid_2
      %strong=note.summary
    .grid_2.counselor.right
      -if note.students.count == 1
        =note.students.first.last_name + ", " + note.students.first.first_name
    .grid_1.right
      %strong Student
    .clear
  .clear
  =render :partial => 'shared/note_details', :locals => { :note => note}
  .clear