<div class="modNotes block module" id="recent-list">
	<h2 class="head">
		Recent Notes
		<div class="modToggle">
			Detail View&nbsp;|&nbsp;<a href="?view=list">List View</a>
		</div><!-- /modToggle -->
	</h2>
	<div class="content">
  <%= render "notes/detail_view_list" %>
	</div>
</div><!--// end modNotes //-->
