.meeting{:id =>[meeting.type, meeting.id]}
  .meeting_info
    .grid_3
      %h6=meeting.occured_on.strftime('%B %d @ %I:%M %p')
    .grid_3
      %strong=meeting.summary
    .grid_1.counselor.right
      =meeting.counselor.last_name
    .grid_1.right
      %strong Counselor
  .clear
  .meeting_notes
    %strong.grid_1 Notes
    .clear
    .notes
      %pre=meeting.notes
  .clear