.grid_3
  %strong Student ID
  %br
  =@student.student_id
.grid_3
  %strong City:
  %br
  =@student.city
.grid_3
  %strong Primary Phone Number:
  %br
  =@student.primary_phone_number
.grid_3
  %strong Shop
  %br
  =@student.shop
.grid_3
  %strong Year of Graduation
  %br
  =@student.year_of_graduation
.grid_3
  %strong Counselor
  %br
  =@student.counselor.last_name if @student.counselor
.cleft

