:javascript
  $j(document).ready(function(){
    $j('#filter').keyup(function(){
      query = $j('#filter').val()
      $j(".student").each(function(){
        ($j(this).find('.grid_3').text().search(new RegExp(query,"i")) < 0) ? $j(this).hide() : $j(this).show();
      });
    });
  });


.grid_2
  = button_to t('.new_student'), new_student_path, :method => :get

  
.cleft

.grid_8
  %label Filter
  = text_field_tag "filter"
.cleft
- for student in @students
  .student
    .grid_3= student.last_name + ', ' + student.first_name
    .grid_1= button_to t('show'), student, :method => :get
  .cleft