:javascript
  $j(document).ready(function(){
    set_accordion();
    

    $j('#new_note_form form').hide()
    $j('#new_note_link').click(function(){
      $j('#new_note').slideToggle()
      return false;
    });
    
    var optionsAjaxSubmit = {
      resetForm: true,
      success: submit_succeeded,
      error: submit_failed
    };
    $j('#new_note').submit(function(){
        $j('#note_submit').attr('disabled', 'disabled');
        $j(this).ajaxSubmit(optionsAjaxSubmit);
        
        return false;
    });
  });
  var submit_succeeded = function(html){
    var address=location.pathname + '/notes';
    $j('#new_note_link').click();
    $j.ajax({
      type: 'GET',
      url: address,
      cache: false,
      success: function(html){
        $j('#notes').remove();
        $j('#note_container').append(html);
        
        set_accordion();
        
        $j('#note_submit').removeAttr('disabled');
      }
    });

  };
  var submit_failed = function(html,errortype){
    $j('#note_submit').removeAttr('disabled');
    alert("The Note could note be saved, make sure that you have included a summary and the details for the note. ")
  };
  var set_accordion = function(){
    $j('.note_info').click(slide_toggle_notes)
    $j('.note_notes').hide()
  };
  var slide_toggle_notes = function(){
    $j(this).parent().find('.note_notes').slideToggle()
  };

=button_to "Edit Student", edit_student_path, :method => :get
=render :partial => 'student_details', :locals => { :student => @student}
.grid_6
  #new_note_form
    %a{:href=>"#",:id=>'new_note_link'} New Note
    =render :partial => 'notes/form'
.cleft
.grid_12#note_container
  %h2 Notes
  =render :partial => 'shared/note_list', :locals => { :note_list => @student.notes}
    