:javascript
  $j(document).ready(function(){
    set_accordion();
    
    $j('#new_meeting_form').accordion({ header:'h6',collapsible: true,icons: { 'header': '', 'headerSelected': '' }  });
    $j('#new_meeting_form form').hide()
    $j('#new_meeting_form h6 span').remove()
    $j('#new_meeting_form h6').removeAttr('class');
    $j('#new_meeting_link').click()
    
    $j('#new_meeting').submit(function(){
        $j('#meeting_submit').attr('disabled', 'disabled');
        $j(this).ajaxSubmit(function(){
          var address=location.pathname + '/meetings';
      
          $j.ajax({
            type: 'GET',
            url: address,
            cache: false,
            success: function(html){
              $j('#meetings').remove();
              $j('#meeting_container').append(html);
              $j('#new_meeting_link').click();
              set_accordion();
              
              $j('#meeting_submit').removeAttr('disabled');
              $j('#meeting_summary').val('')
              $j('#meeting_occured_on').val('')
              $j('#meeting_notes').val('')
            }
          });
        });
        return false;
    });
  });
  
  var set_accordion = function(){
    $j('.year').accordion({ autoHeight: false, header:'h4' });
    $j('#meetings').accordion({ autoHeight: false, header:'h3' });
    $j('.meeting_info').click(slide_toggle_notes)
    $j('.meeting_notes').hide()
  };
  var slide_toggle_notes = function(){
    $j(this).parent().find('.meeting_notes').slideToggle()
  };


    //= button_to "Edit", edit_student_path(@student), :method => :get
//.grid_4
//  = link_to 'Student List', students_path
//.clear
.grid_6
  #new_meeting_form
    %h6
      %a{:href=>"#",:id=>'new_meeting_link'} New Meeting
    =render :partial => 'meetings/form'
.cleft
.grid_12#meeting_container
  %h2 Meetings
  =render :partial => 'shared/meeting_list', :locals => { :meeting_list => @student.meetings}
    