/* Constants ------------------------------------------------------ */
a,
.trigger,
.editName {
	position: relative;
	color: #4B798B;
	cursor: pointer;
}
.editName {
	text-decoration: none;
}
	a .arr,
	.trigger .arr {
		xvisibility: hidden;
	}
	a:hover,
	span.trigger:hover,
	.editName:hover {
		color: #000;
	}
		a:hover .arr,
		.trigger:hover .arr {
			visibility: visible;
		}
.close {
	display: block;
	position: absolute;
		right: 10px;
		top: 10px;
		z-index: 100;
	width: 16px;
	height: 16px;
		overflow: hidden;
	cursor: pointer;
}
.addNote .close {
	top: -5px;
}
/* Headlines ------------------------------------------------------ */
h1 {
	display: none;
}
h1#pageTitle {
	display: block;
}
h2 {color: #4B798B; font-size: 1.5em; padding: 0 0 5px;}
h3 {color: #4B798B; font: bold 1.13em/20px Arial, Helvetica, sans-serif; padding: 0 0 5px;}
h4 {color: #000; font: bold 1.0em/20px Arial, Helvetica, sans-serif; padding: 0 0 3px;}
h5 {color: #000; font-size: 1.0em; line-height: 20px;}
h6 {color: #444; font: bold 0.88em/20px Arial, Helvetica, sans-serif; text-transform: uppercase; padding: 0 0 3px;}
.head {
	color: #444;
	font: normal 1.86em/34px 'LeagueGothicRegular', 'Arial Narrow', Arial, Helvetica, sans-serif;
	padding: 5px 21px 1px 21px;
}
.pageTitle {
	background: #E9E7E5 url(images/structure/whiteBorder.png) 0 0 no-repeat;
	padding: 10px 20px 3px 20px;
	border-top: 1px solid #D7D2CF;
	border-bottom: 1px solid #D7D2CF;
	margin: 0 0 10px;
}
	.pageTitle span {
		font-size: 0.73em;
	}
.pageHome .content h3 {
	color: #444;
	font: normal 1.13em 'Puritan20Normal', Arial, Helvetica, sans-serif;
	padding: 0 0 15px;
}
p,
ul,
ol,
dl {
	padding: 0 0 25px;
}
blockquote {
	font-style: italic;
	font-size: 1.13em;
	padding: 15px;
}
	blockquote p {
		padding: 0 0 15px;
	}
img {
	display: block;
	float: left;
}

ul,
ol {
	line-height: 18px;
	padding-left: 15px;
}
ol {
	padding-left: 20px;
}
	li {
		padding: 0 0 8px;
	}
		ul ul,
		ol ol {
			padding: 8px 0 0 30px;
			margin-bottom: -8px;
		}
		ol ol {
			list-style-type: upper-alpha;
		}
			ol ol ol {
				list-style-type: upper-roman;
			}
				ol ol ol ol {
					list-style-type: lower-alpha;
				}
.linklist {
	list-style-type: none;
	padding-left: 0;
}
	.linklist li {
		padding-bottom: 0;
	}
		.linklist a {
			text-decoration: none;
		}
dl {}
	dl dt {}
	dl dd {}

iframe {
	width: 100%;
}
/* Icons ---------------------------------------------------------- */
.icon {
	background-image: url(images/icons/icons.png);
	background-repeat: no-repeat;
}
	.iconSearch      {background-position: -337px -91px;}
	.iconAddStudent  {background-position: -286px -141px;}
	.iconAddGroup    {background-position: -239px -191px;}
	.iconAddCategory {background-position: -188px -242px;}
	.iconOptions     {background-position: -137px -291px;}
	.iconClose       {background-position: -50px -400px;}
/* Columns -------------------------------------------------------- */
.cols2,
.cols3 {}
	.cols2 .col {
		position: relative;
		float: left;
		width: 50%;
		margin: 0;
	}
	.modCopy .col {
		width: 45%;
		margin: 0 0 0 4%;
	}
	.modCopy .cols2 .col:first-child {
		margin: 0;
	}
	.cols2 .colR {
		border-left: 1px solid #D7D2CF;
		margin-left: -1px;
	}
	.cols3 .col {
		float: left;
		width: 29%;
		margin: 0;
	}
	.bIE .cols2 .col,
	.bIE .cols3 .col {
		margin-right: -1px;
	}

/* Modules -------------------------------------------------------- */
.module {
	position: relative;
}
.block {}
	.module .content {
		padding: 0 38px;
	}
	.block .content {
		padding: 0 0 38px;
	}
		.module .head {}
		.block .head {
			background: #E9E7E5 url(images/structure/whiteBorder.png) 0 0 no-repeat;
			padding: 5px 10px 1px 21px;
			border-top: 1px solid #D7D2CF;
			border-bottom: 1px solid #D7D2CF;
			margin: 0 0 15px;
		}
	.modList .head,
	.modNotes .head,
	.modMeetings .head,
	.modRequests .head {
		margin: 0;
	}
	.module .content .linklist {
		padding: 0;
	}
		.module .linklist li {}
			.module .linklist a {
				display: block;
				padding: 4px 30px 4px 37px;
			}
				.module .linklist a:hover {
					background-color: #F5F4F2;
				}
	.module .right {
		display: block;
		float: right;
		text-decoration: none;
		padding: 0 0 10px;
	}

.modToggle {
	text-align: right;
}
	.head .modToggle {
		float: right;
		font: 0.43em Arial, Helvetica, sans-serif;
		padding: 14px 0 0 20px;
	}

.modReports .head {
	margin-bottom: 9px;
}
.modReports .close {
	position: static;
	float: right;
}

.modAccount {
	font-size: 0.88em;
	text-align: right;
	padding: 10px 13px;
}
	.modAccount a {
		text-decoration: underline;
	}

.accountAlert {
	background: #FFDE00;
	font-size: 1.6em;
	padding: 7px 20px;
	margin: 5px 5px 0 5px;
}
	.accountAlert p {
		padding: 0;
	}

.rightLink {
	padding: 0 10px 10px;
		overflow: hidden;
}
.modCopy .rightLink,
.module .rightLink {
	padding-right: 0;
}
.modReports .rightLink {
	padding-bottom: 6px;
}
	.rightLink a {
		display: block;
		float: right;
		text-align: right;
		text-decoration: none;
		padding: 2px 9px;
		border-top: 1px solid #FFF;
		border-right: 1px solid #D7D2CF;
		border-bottom: 1px solid #D7D2CF;
		border-left: 1px solid #FFF;
	}
	table .rightLink {
		padding-right: 7px;
	}
		.rightLink a:hover {
			background: #E9E7E5;
			border-top-color: #D7D2CF;
			border-right-color: #FFF;
			border-bottom-color: #FFF;
			border-left-color: #D7D2CF;
		}

.modRequests {}
	.modRequests .head {
		background-color: #F7F6F5;
		color: #444;
	}
	.modRequests tr:hover {
		cursor: pointer;
	}
		.modRequests tr:hover .trigger {
			color: #000;
		}
		.modRequests tr:hover .trigger .arr {
			visibility: visible;
		}
		.modRequests .close {
			right: 0;
			top: 0;
		}
	.modRequests .email {
		font-weight: bold;
		padding: 0 0 10px;
	}
	.modRequests .button {
		width: auto;
		padding: 0;
	}
		.modRequests .button input {
			margin: 0 0 10px 10px;
		}
	.modRequests .suggest {
		display: none;
		float: right;
	}

.modCopy {
	clear: both;
	max-width: 820px;
	padding: 0 10px 0 21px;
}
.modData .modCopy {
	max-width: 100%;
}

.modOverflow {
	max-width: 400px;
	height: 207px;
		overflow: auto;
	background: #F7F6F5;
	padding: 10px;
	border: 1px solid #D7D2CF;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	margin: 0 0 25px;
}
#auxiliary .modOverflow {
	margin-bottom: 10px;
}

#systemMessage {
	position: relative;
	background: #F7F6F5;
	padding: 18px 20px 5px 20px;
	border: 1px solid #D7D2CF;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	margin: 0 22px 22px 22px;
}
	#systemMessage .head {
		color: #444;
		font: normal 1.86em/34px 'LeagueGothicRegular', 'Arial Narrow', Arial, Helvetica, sans-serif;
		padding: 0 0 8px 0;
	}
	#systemMessage .content {
		max-width: 770px;
	}

.modDrop {
	width: 65%;
	margin: 0 0 10px;
}
.modDropNarrow {
	width: 45%;
}
	.modDrop .head {
		width: 100%;
		background: #FFF;
		font: 1em/20px Arial, Helvetica, sans-serif;
		padding: 7px 10px;
		border: 1px solid #D7D2CF;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		cursor: pointer;
	}
	.modDrop .layer {
		position: absolute;
			left: -999em;
			z-index: 1;
	}
	.modDropOver .layer {
		width: 100%;
		left: 0;
		z-index: 100;
		background: #FFF;
		padding: 10px 10px 20px 10px;
		border: 1px solid #D7D2CF;
		border-top: none;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		margin-top: -1px;
	}
		.modDrop li label {
			cursor: pointer;
		}

.contentDrop {
	position: relative;
	padding: 15px 0 0 37px;
}
#auxiliary .contentDrop {
	padding: 0 15px;
}
.contentDrop.open {
	background: #F5F4F2;
	border-bottom: 1px solid #D7D2CF;
}
#auxiliary .contentDrop.open {
	background: transparent;
	padding-top: 0;
}
	.contentDrop .item {
		display: none;
	}
	.contentDrop fieldset {
		padding: 0;
	}
	.contentDrop .button {
		width: auto;
	}

.modRequests .full,
.modNotes .full {
	display: none;
}

.modData .modCopy {
	position: relative;
}
	.modData .modCopy p {
		padding: 0;
	}
	.modData .modCopy p label {
		float: left;
		padding: 0 10px 0 0;
	}
	.modData .modCopy p input {
		float: left;
		width: 25%;
	}
	.studentFilter {
		margin-top: -5px;
	}

.studentDetail {}
	.studentName {}
	.studentPic {
		width: 1%;
		background: #EEECEA;
		text-align: center;
		padding: 0;
		border-left: 1px solid #D7D2CF;
	}
		.studentPic img {
			display: inline;
			background: #FFF;
			padding: 2px;
			border: 1px solid #D7D2CF;
			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
			        border-radius: 3px;
			margin: 10px;
		}
	.modAddNote .head {
		margin: 0;
	}

.notesList {}
	.notesList td {
		padding-top: 15px;
	}
	.notesList .title {
		float: left;
		width: 80%;
		padding: 0 0 2px;
	}
	.dashList .title {
		float: left;
		width: 75%;
	}
	.notesList .subtitle {
		display: block;
		clear: both;
		font-size: 0.85em;
		padding: 0 0 2px;
	}
		.notesList .subtitle span {
			font-weight: normal;
		}
	.notesList p {
		padding: 0 0 5px;
	}
	.notesList .classification {
		float: right;
		width: 20%;
		text-align: right;
		margin: 0 8px 0 0;
	}
	.notesList .name {
		font-weight: bold;
		padding: 0;
	}

.pagination {
	font: 0.88em Arial, Helvetica, sans-serif;
	padding: 10px 10px 10px 21px;
}
	.pagination p {
		position: relative;
			top: 7px;
		float: left;
		padding: 0;
	}
	.pagination ul {
		float: right;
		padding: 0;
	}
		.pagination li {
			display: inline;
		}
			.pagination a {
				display: block;
				float: left;
				text-decoration: none;
				padding: 5px 9px;
				border-top: 1px solid #FFF;
				border-right: 1px solid #D7D2CF;
				border-bottom: 1px solid #D7D2CF;
				border-left: 1px solid #FFF;
			}
				.pagination a:hover {
					background: #E9E7E5;
					border-top-color: #D7D2CF;
					border-right-color: #FFF;
					border-bottom-color: #FFF;
					border-left-color: #D7D2CF;
				}
				.pagination .active a {
					background: #EEECEA;
					padding-top: 6px;
					border: none;
				}
/* Charts --------------------------------------------------------- */
.chart,
.monthly-chart,
.category-chart {
	display: none;
}
#category_chart_div {
	clear: both;
	height: 240px;
}
#month_chart_div {
	clear: both;
	height: 240px;
}
.modChart {
	border-bottom: 1px solid #D7D2CF;
}
/* Tables --------------------------------------------------------- */
table {
	width: 100%;
	clear: both;
	font-size: 0.93em;
	font-family: Arial, Helvetica, sans-serif;
	border-spacing: 0 0;
	border-bottom: 1px solid #FFF;
	margin: 0 0 35px 0;
}
.module table {
	margin: 0;
}
.modCopy table {
	border: 1px solid #D7D2CF;
	border-bottom-color: #FFF;
	margin: 10px 0 35px 0;
}
.ie6 table,
.ie7 table,
.ie8 table,
.ie9 table {
	border-collapse: separate;
}
	table caption {}
	tr {}
	td,
	th {
		vertical-align: top;
		padding: 6px 8px 5px 13px;
		border-top: 1px solid #FFF;
		border-bottom: 1px solid #D7D2CF;
	}
	.modStudentInfo td {
		padding-top: 3px;
		padding-bottom: 2px;
	}
	td.spaced,
	thead td.spaced,
	th.spaced {
		padding-left: 20px;
		border-left: none;
	}
	.details td.spaced {
		width: 25%;
		font-weight: bold;
	}
	.label {
		width: 25%;
	}
	.action {
		width: 10%;
	}
	td.w90 {
		width: 90%;
	}
	td.w75 {
		width: 75%;
	}
	td.w50 {
		width: 50%;
	}
	td.w25 {
		width: 25%;
	}
	thead td.first,
	th.first {
		border-left: none;
	}
	tr.open td {
		background: #F5F4F2;
		border-bottom: none;
	}
	.full td {
		background: #F5F4F2;
		border-top: none;
		border-bottom: 10px solid #E9E7E5;
		padding: 0;
		cursor: default;
	}
		.full .content {
			padding: 5px 37px 8px 37px;
		}
	tr:hover {
		background: #F5F4F2;
	}
	th,
	thead td {
		background: #E9E7E5 url(images/structure/whiteBorder.png) 0 0 no-repeat;
		color: #444;
		font-size: 0.92em;
		font-weight: bold;
		text-align: left;
		padding: 6px 5px 3px 14px;
		border: none;
		border-bottom: 1px solid #D7D2CF;
		border-left: 1px solid #D7D2CF;
	}
	tfoot tr td,
	tfoot tr.odd td {}

table.plain {}
	table.plain td,
	table.plain tr.odd td {
		background: none;
		border: none;
	}
	table.plain thead tr.odd td {}
	table.plain tfoot tr td,
	table.plain tfoot tr.odd td {}
/* Form Defaults -------------------------------------------------- */
fieldset {
	border: none;
	padding: 0 0 20px;
}
	fieldset p {
		padding: 0 0 5px;
	}
legend {
	font-weight: bold;
	padding: 0 0 5px;
}
label {
	display: block;
	padding: 0 0 3px;
}
p input,
.formElement input,
textarea,
select,
.button {
	width: 402px;
	font: 1em/20px Arial, Helvetica, sans-serif;
	padding: 4px 10px 5px 8px;
	margin: 0 0 10px;
}
.modCopy .col p input,
.modCopy .col .formElement input,
.modCopy .col textarea,
.modCopy .col select,
.button {
	width: 95%;
}
input[type="text"] {
	cursor: text;
}
input[type="submit"] {
	cursor: pointer;
}
.ie6 p input,
.ie7 p input,
.ie8 p input,
.ie9 p input {}
.col .button {
	width: 100%;
}
.button {
	clear: both;
	text-align: right;
	padding: 0 0 10px 21px;
}
label input,
#container .modCopy .col label input {
	width: auto;
	margin: 0 5px 5px 0;
	cursor: pointer;
}
p.formFloat input {
	width: 178px;
}
p.phone .areaCode,
p.phone .prefix,
p.phone .line {
	width: 30px;
	margin-right: 5px;
}
p.phone .areaCode {
	margin-right: 0;
}
p.phone .line {
	width: 62px;
}
p.phone .ext {
	width: 35px;
}
p.date input.month,
p.date input.day,
p.date input.year {
	width: 20px;
	margin-right: 4px;
}
p.date input.year {
	width: 62px;
}
p.date select.month,
p.date select.day,
p.date select.year {
	width: 63px;
	margin-right: 4px;
}
p.date select.year {
	width: 85px;
}
select {
	width: 422px;
}
.ie6 select,
.ie7 select,
.ie8 select,
.ie9 select {
	width: auto;
	max-width: 500px;
}
select.narrow {
	width: 222px;
}
textarea {
	display: block;
	clear: both;
	height: 180px;
}
	.button .cancel {
		float: left;
	}
p .req,
p .required {
	color: #FF0000;
	font-weight: bold;
}
p.req,
p.required,
.ex {
	display: block;
	clear: both;
	color: #969696;
	font-size: 0.86em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
}
fieldset .ex {
	position: relative;
		top: -5px;
}

/* Specified Styles ----------------------------------------------- */
.formBegin label {
	position: absolute;
		left: -999em;
	width: 1px;
	overflow: hidden;
}
.continue,
p.message {
	display: none;
}
.formContinue {
	display: none;
}
.formDate input,
.modCopy .col .formDate input {
	width: 200px;
	margin-right: 10px;
}
.formDate input,
.formDate .cal {
	float: left;
}
/* Clearfixes ----------------------------------------------------- */
.cols2,
.cols3,
.formDate,
.modCopy,
.pagination,
.full .content {height: 1%;}
.cols2:after,
.cols3:after,
.formDate:after,
.buttonSet:after,
.modCopy:after,
.pagination:after,
.full .content:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
*> .cols2,
*> .cols3,
*> .formDate,
*> .buttonSet,
*> .modCopy,
*> .pagination,
*> .full .content {min-height: 1px; height: auto;}
/* Test Styles ---------------------------------------------------- */
.red    {background: red !important;}
.blue   {background: blue !important;}
.green  {background: green !important;}
.olive  {background: olive !important;}
.orange {background: orange !important;}
.black  {background: black !important;}
.gray   {background: gray !important;}
.silver {background: silver !important;}
.white  {background: white !important;}