h1,h2,h3,h4,h5,h6{
  color:#883E39;
}
h3,h4{
  border-bottom: 1px solid #D4756E;
  padding-bottom:2px;
  margin-bottom:2px;
}

h1{
  padding-bottom:2px;
  border-bottom:1px dashed black;
}
.counselor{
  padding-top:1px;
}

body{
  background:url('/images/background.png') #558fcc repeat-y top center;
}
h3 a, h4 a{
  border-bottom:none;
}
#nav{
  float:right;
}
.meeting_info{
  cursor: pointer;
  padding:5px 0 5px;
}
.meeting_info h6{
  margin:0;
}
.meeting_info:hover{
  background-color:#eee;
}
.cleft{
  clear:left;
}
a{
  text-decoration:none;
  border-bottom:1px dashed black;
}
#meetings,.year,.group a{
  bordern:none !important;
}

#header span
{
  font-size:48px;
  font-weight:bold;
  color:#883E39;
}
#header{
  margin-bottom:20px;
}
.field label
{
  display:block;
}
textarea{
  width:100%;
}
h6,pre{
  font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
.link{
  margin-bottom:10px;
}
#new_meeting{
  border:1px dashed black;
  width:460px;
  margin:0px 0 10px 0;
  padding:10px 0px 10px;
  background-color:#D9E18C;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.right{
  float:right;
}
#login_nav{
  float:right;
}