<h2 class="head pageTitle">Counselors</h2>

<div class="modGroups modData block module">
	<%if current_user.director? %>
	<a class="rightLink addItem" href="<%= new_counselor_path %>">Add a Counselor<span>&nbsp;&rarr;</span></a>
	<%end%>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="spaced">Counselor</th>
					<th>View Counselor</th>
				</tr>
			</thead>
			<tbody>
				<%- @counselors.each do |counselor| -%>
				<tr>
					<td class="spaced w90"><strong><%= counselor.formal_name %></strong></td>
					<td class="action"><%= button_to "View Counselor", counselor_path(counselor), :method => :get %></td>
				</tr>
				<%- end -%>
			</tbody>
		</table>
	</div>
</div><!--// end modRequests //-->
