<h2 class="head pageTitle"><%=@counselor.full_name%></h2>


<%if current_counselor.has_role? :school_admin, current_school%>
<div class="rightLink">
	<a href="<%= edit_counselor_path(@counselor)%>">Edit<span>&nbsp;&rarr;</a>
</div>
<%end%>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td class="spaced label">Email Address</td>
		<td><%=@counselor.email%></td>
	</tr>
  <tr>
		<td class="spaced label">Is Director</td>
		<td><%=@counselor.has_role?(:school_admin, current_school) ? "Yes" : "No"%></td>
	</tr>
	
</table>
