	<%- if notice -%>
	<div class="accountAlert success">
			<p><%= notice%></p>
	</div><!--// end accountAlert //-->
<%- end -%>

<% if alert %>
  <div class="accountAlert error">
		<p><%= alert %></p>
	</div><!--// end accountAlert //-->
<% end %>
<% if warning %>
  <div class="accountAlert warning">
		<p><%= warning %></p>
	</div><!--// end accountAlert //-->
<% end %>
