.meeting_notes
  %strong.grid_1 Category
  .clear
  .tags.grid_8
    &nbsp;
    =meeting.category.name if meeting.category
  .clear
  %strong.grid_1 Tags
  .clear
  .tags.grid_8
    &nbsp;
    -meeting.tags.each do |tag|
      =link_to(tag.name, tag_path(tag.name)) + ((tag != meeting.tags.last) ? ',' : '')
  .clear
  %strong.grid_1 Notes
  .clear
  .notes
    %pre=meeting.notes
  .clear
  .right.edit
    =button_to 'Edit', edit_meeting_path(meeting), :method => :get
  .clear