#meetings
  -meeting_years = meeting_list.group_by {|meet| meet.occured_on.year}
  -meeting_years.keys.sort.each do |year|
    %h3
      %a{:href=>'#'}=year
    .year.prefix_1
      -meeting_months = meeting_years[year].group_by {|meet| meet.occured_on.mon}
      -meeting_months.keys.sort.each do |month|
        %h4
          %a{:href=>'#'}=Date::MONTHNAMES[month]
        .group.prefix_1
          =render(meeting_months[month].sort{|x,y| x.occured_on <=> y.occured_on})