.meeting{:id =>[meeting.class, meeting.id],:class => meeting == last && "last"}
  .meeting_info{:class =>odd_even}
    .grid_3
      %h6=meeting.created_at.strftime('%B %d @ %I:%M %p') if meeting.created_at
    .grid_5
      %strong=meeting.summary
    .grid_2.counselor.right
      =link_to meeting.student.last_name + ', ' +meeting.student.first_name, meeting.student
    .grid_1.right
      %strong Student
    .clear
  .clear
  =render :partial => 'shared/meeting_details', :locals => { :meeting => meeting}
  .clear