#meetings
  -meeting_years = meeting_list.group_by {|meet| meet.created_at.year}
  -meeting_years.keys.sort.each do |year|
    %h3
      %a{:href=>'#'}=year
    .year.prefix_1
      -meeting_months = meeting_years[year].group_by {|meet| meet.created_at.mon}
      -meeting_months.keys.sort.each do |month|
        %h4
          %a{:href=>'#'}=Date::MONTHNAMES[month]
        .group.prefix_1
          -sorted_meetings = meeting_months[month].sort{|x,y| x.created_at <=> y.created_at}
          -sorted_meetings.each do |meeting|
            =render :partial => 'meetings/meeting',:locals => {:meeting => meeting, :last => sorted_meetings.last, :odd_even =>cycle('odd', 'even')}