<% if can? :create, Note %>
<div class="contentDrop">
	<div class="rightLink">
		<a class="trigger">Add a Note<span>&nbsp;&rarr;</span></a>
	</div>
	<div class="item">
    <% @note = Note.new%> 
    <%= render "notes/form" %>
	</div><!--// end item //-->
</div><!--// end contentDrop //-->
<% end %>
