<div class="contentDrop">
	<span class="trigger rightLink">Add a Note<span>&nbsp;&rarr;</span></span>
	<div class="item">
    <% @note = Note.new%> 
    <%= render "notes/form" %>
	</div><!--// end item //-->
</div><!--// end contentDrop //-->
