.note_notes
  %strong.grid_1 Counselor
  .clear
  .tags.grid_8
    &nbsp;
    =note.counselor.last_name
  .clear
  %strong.grid_1 Category
  .clear
  .tags.grid_8
    &nbsp;
    =note.category.name if note.category
  .clear
  -if current_school.show_tags
    %strong.grid_1 Tags
    .clear
    .tags.grid_8
      &nbsp;
      -note.tags.each do |tag|
        =link_to(tag.name, tag_path(tag.name)) + ((tag != note.tags.last) ? ',' : '')
    .clear
  %strong.grid_1 Notes
  .clear
  .notes
    %pre=note.notes
  .clear
  .right.edit
    =button_to 'Edit', edit_note_path(note), :method => :get
  .clear