-if current_school
  .grid_6
    %h2 Students

    = link_to 'Request a meeting with your counselor', request_path
  .grid_6
    %h2 Counselors
  
    =render :partial => 'user_sessions/form'
-else
  Welcome to Ducky Guidance
  =render :partial => 'user_sessions/form'
