<!--<div id="systemMessage">
<h2 class="head">System Message Headline</h2>
<div class="content">
	<p>Short message explaining system maintenance or issue. Maecenas sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin pede odio, iaculis id, ultrices ut, convallis eu, ipsum. Etiam nisi dui, dictum id, varius non, egestas ut, enim. Suspendisse vehicula, quam ut iaculis imperdiet, dolor neque semper neque, ut lacinia ante libero in tellus. Integer convallis luctus eros. Suspendisse potenti.</p>
</div><!--// end content //-|->
<span class="close icon iconClose"></span>
</div><!--// end systemMessage //-->