	<div class="modRequests block module">
		<h2 class="head">Meeting Requests</h2>
		<div class="content">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="spaced">Student</th>
						<th>Date Requested</th>
						<th>Time Requested</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% requests.each do |request| %>
						<%=render :partial => 'meeting_requests/new_meeting_request', :locals => {:new_request => request}%>
					<% end %>
				</tbody>
			</table>
		</div>
	</div><!--// end modRequests //-->
