.request{:id =>[request.class, request.id],:class => request == last && "last"}
  .name.grid_11
    %h3=request.first_name + ' ' + request.last_name
  .clear
  .date
    .grid_2 
      %strong Desired Date
    .grid_4
      =request.desired_date.strftime('%B %d @ %I:%M %p')
  .clear
  .notes
    .grid_1
      %strong Notes
    .clear
    %pre
      =request.notes
    .clear
  .clear
  .buttons.grid_4
    =button_to 'Accept', meeting_request_path(request.id, :accepted => 1), :remote => true, :method => :put
    =button_to 'Reject', meeting_request_path(request.id, :accepted => 0), :remote => true, :method => :put
  .clear