<div class="modMeetings block module">
	<h2 class="head">Upcoming Meetings</h2>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="spaced" colspan="2">Date &amp; Time</th>
					<th>Student</th>
				</tr>
			</thead>
			<tbody>
				<% upcoming_meetings.each do |meeting| %>
					<tr>
						<td class="spaced"><%= meeting.desired_date.strftime "%m/%d/%Y" %></td>
						<td><%= meeting.desired_date.strftime "%I:%M %p" %></td>
						<td><strong><%= meeting.first_name + " " + meeting.last_name %></strong></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>