<% content_for :head do %>
  <title>Tags -  <%=current_school.name %> - Ducky Guidance</title>
<% end %>
<h2 class="head pageTitle">Tags</h2>

<div class="modCategories modData block module">
	<div class="content">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="spaced">Tag Title</th>
					<th>View Tag</th>
				</tr>
			</thead>
			<tbody>
				<%-@tags.each do |tag|-%>
				<tr>
					<td class="spaced w90"><strong><%= tag.name %></strong></td>
					<td class="action"><%= button_to "View Tag", tag_path(tag), :method => :get %></td>
				</tr>
				<%- end -%>
			</tbody>
		</table>
	</div>
</div><!--// end modRequests //-->

