.grid_3
  %strong Number of Meetings
.grid_1
  =@meetings_with_tag.count
.clear
.grid_5
  %h2 Meetings
.grid_12
  =render :partial => 'shared/dashboard_list', :locals => { :meeting_list => @meetings_with_tag}