.grid_12
  %p= link_to 'New Category', new_category_path

  %table
    %thead
      %tr
        %th= Category.human_attribute_name :name
        %th &nbsp
  
    %tbody
      - for category in @categories
        %tr{ :class => cycle(:odd, :even) }
          %td=  link_to category.name, category
          %td.action= button_to t('edit'), edit_category_path(category), :method => :get
